{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<footer class="footer" role="contentinfo">
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="footer-upper"></div>
    <section class="footer-info">
        <div class="container">
            <div class="tst-accordion footer-info-content">
                <nav class="footer-info-col footer-info-col--small tst-accordion-item" data-section-type="footer-shop">
                    <h5 class="footer-info-heading tst-accordion-title">{{lang 'footer.products'}}</h5>
                    <ul class="footer-info-list tst-accordion-body">
                        {{#each categories}}
                            <li>
                                <a href="{{url}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </nav>
                <nav class="footer-info-col footer-info-col--small tst-accordion-item" data-section-type="footer-about">
                    <h5 class="footer-info-heading tst-accordion-title">{{lang 'footer.about_us'}}</h5>
                    <div id="bcapi_footer_about_links"></div>
                </nav>
                <nav class="footer-info-col footer-info-col--small tst-accordion-item" data-section-type="footer-support">
                    <h5 class="footer-info-heading tst-accordion-title">{{lang 'footer.support'}}</h5>
                    <div id="bcapi_footer_support_links"></div>
                </nav>
                <nav class="footer-info-col footer-info-col--small tst-accordion-item" data-section-type="footer-consultants">
                    <h5 class="footer-info-heading tst-accordion-title">{{lang 'footer.creators_and_affiliates'}}</h5>
                    <div id="bcapi_footer_creators_links"></div>
                </nav>
                <div class="footer-info-col footer-newsletter" data-section-type="newsletterSubscription">
                    {{#if settings.show_newsletter_box}}
                        {{> components/common/subscription-form}}
                    {{/if}}
                    {{!-- {{> components/common/payment-icons}} --}}
                    {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
                        <div class="footer-info-col footer-info-col--social footer-social" data-section-type="footer-social">
                                {{> components/common/social-links}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </section>
    <section class="footer-bottom">
        <div class="container">
            <div class="copyright-logos">
                {{#if theme_settings.show_copyright_footer}}
                    <div class="footer-copyright">
                        <p class="powered-by">&copy; 1998-{{moment format="YYYY"}}, Tastefully Simple, Inc. </p>
                        <p class="powered-by">Serving suggestions throughout the website.</p>
                    </div>
                {{/if}}
                <div class="footer-logos">
                    <a href="https://www.bbb.org/us/mn/alexandria/profile/home-accessories-online/tastefully-simple-inc-0704-96001360/#sealclick" title="BBB Accredited Business" target="_blank">
                        <img src="{{cdn 'assets/img/bbb.png'}}" alt="BBB Accredited Business"/>
                    </a>
                </div>
            </div>
            <div class="footer-use-links">
            </div>
        </div>
    </section>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-44513817-57c9-4834-917d-7b9e9ba8a63f"></div>
    <!-- Start of tastefullysimple Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=68783b01-c25b-4884-acd8-7a1c88feccca"></script>
    <!-- End of tastefullysimple Zendesk Widget script -->
</footer>

{{> components/common/content-creator/bcapi-loader }}
