
$FONT_FAMILY_PRIMARY: 'Muli';
$FONT_FAMILY_SECONDARY: 'PT Serif';

$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_SEMIBOLD: 600;
$FONT_WEIGHT_BOLD: 700;
$FONT_WEIGHT_BLACK: 900;

$FONT_SIZE_BASE: 16px;
$FONT_SIZE_SMALL: 14px;
$FONT_SIZE_MEDIUM: 18px;
$FONT_SIZE_LARGE: 28px;
$FONT_SIZE_XLARGE: 34px;


