// =============================================================================
// Tastefully Simple Styleguide page
// =============================================================================

.tsi-styleguide{
    overflow-x:hidden;
    visibility:visible!important;
    margin-bottom: 120px;
    header{
        padding:20px;
        text-align:center;
        h1{
            margin:0 auto;
            max-width:500px;
        }
    }
    .styleguide-main{
        margin:auto;
        max-width:1366;
        padding:0 40px;
    }
    .style-item{
        .styleitem-content{
            display:flex;
            position:relative;
            .guide-label{
                color:$bbdarkteal;
            }
        }
        &.style-logos{
            .styleitem-content{
                align-items: flex-end;
                img{
                    &.logo-white{
                        background-color:$bbteal;
                        margin-left: 1rem;
                    }
                }
            }
        }
        &.style-colors{
            .styleitem-content{
                justify-content:center;
                flex-direction:column;
                dl{
                    display:flex;
                    dt{
                        color:$text-gray;
                        margin-top:30px;
                        margin-right:20px;
                        max-width:100px;
                        text-align:right;
                        width:10%;
                    }
                    &>div{
                        align-items:center;
                        display:flex;
                        flex-wrap:wrap;
                        width:90%;
                        dd{
                            max-width:200px;
                        }
                    }
                }
            }
        }
        &.style-typography{
            .styleitem-content{
                flex-direction:column;
                .typography-headers{
                    margin-bottom:0;
                    li{
                        align-items:center;
                        display:flex;
                        margin:1rem 0;
                        &>span{
                            margin-left:-40px;
                            padding-right:20px;
                        }
                        h1,h2,h3,h4,h5,h6{
                            margin:0;
                        }
                    }
                }
            }
        }
        &.style-buttons-icons {
            display: flex;
        }
        &.style-buttons{
            @media only screen and (min-width:801px) {
                width: 46%;
            }
            .button-primary{
                &.hover{
                    @extend .button-primary:hover;
                }
            }
            .styleitem-content{
                justify-content:flex-start;
                .stylebutton-item{
                    &>div{
                        display:flex;
                        flex-direction:column;
                        justify-content:flex-start;
                    }
                }
            }
        }
        &.style-icons{
            @media only screen and (min-width:801px) {
                width: 46%;
            }
            .styleitem-content{
                flex-direction:column;
                .styleicon-item{
                    display:flex;
                    flex-direction: column;
                    justify-content:space-evenly;
                    &:not(:last-child){
                        margin-bottom:60px;
                    }
                    .icon-label{
                        align-items:center;
                        display:flex;
                        margin-bottom:10px;
                        .icon-system-x,
                        .icon-system-check{
                            @extend .standard-icons;
                        }
                    }
                    .guide-label{
                        margin-left:30px;
                    }
                    .styleicon-social{
                        &>.guide-label{
                            &:last-child{
                                font-weight:700;
                            }
                        }
                    }
                }
            }
        }
        &.style-inputs{
            .styleitem-content{
                justify-content:space-between;
                .styleinput-item{
                    flex-direction:column;
                    display:flex;
                    flex-basis:33%;
                    justify-content:space-between;
                    input,
                    textarea,
                    select{
                        width:300px;
                    }
                }
            }
        }
        &.style-radiochecks{
            .styleitem-content{
                .styleradio-item{
                    display:flex;
                    flex-direction:column;
                    flex-basis:50%;
                }
            }
        }
        &.style-tooltips{
            .styleitem-content{
                &>div{
                    &>span{
                        display:block;
                    }
                }
                justify-content:space-around;
                .styletooltip-item{
                    position:relative;
                }
            }
        }
        &.style-alerts{
            margin-top:100px;
            .styleitem-content{
                flex-direction:column;
                .stylealert-item{
                    display:flex;
                    flex-direction:column;
                    .alertbox{
                        margin:0;
                    }
                }
            }
        }
        &.style-modals{
            margin-top:100px;
            .styleitem-content{
                .stylemodal-item{
                    position:relative;
                    &:first-child{
                        width:70%;
                    }
                    &:last-child{
                        width:30%;
                        .guide-label{
                            text-align:center;
                        }
                    }
                    .stylemodal-general{
                        display:flex;
                        justify-content:space-around;
                    }
                }
            }
        }
        &.style-tables{
            .styleitem-content{
                flex-direction:column;
            }
        }
        &.style-cards{
            .styleitem-content{
                align-items:center;
                flex-wrap:wrap;
                justify-content:space-evenly;
                .stylecards-item{
                    margin:auto;
                    width:50%;
                    .guide-label{
                        text-align:center;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1800px){
    .tsi-styleguide{
        .styleguide-main{
            padding:0;
        }
    }
}
