// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
// 3. Fix for text flickers on windows devices
//
// -----------------------------------------------------------------------------

.footer {
    //background-color: $footer-background;
    background-image:url('../img/footerbgtile.png');
    background-repeat: repeat-x;
    border-top: container("border");
    padding: spacing("third") 0;
    position: relative;
    transform: translateZ(0); // 3
    height: $footer-height;
    @media (max-width: 800px) {
        height: $footer-height * 2;
        background-position-y: bottom;
    }
}

.footer-title-sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
    @media (max-width: 800px) {
        height: 100%;
    }
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: top;
    // TODO: specifically use vendor only for IE11 since overflow-wrap is not supported here
    -ms-word-break: break-all;
    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}

.footer-info-col--right-medium {
    width: width("4/12");
    padding-top: (spacing("base"));
    float: right;
    .list-social-logos li {
        float: right;
        position: relative;
        display: block;
        padding-left: 10px;
        img {

        }
    }
    .last {
        width: 100%;
        padding-top:10px;
        float:right;
        font-weight: bold;
        color: $color-white;
        padding-top: 10px;
        padding-right: 10px
    }
    .footer-mobile-copyright {
        display: none;
    }
    @media (max-width: 800px) {
        width: 100% !important;
        .last {
            display: none !important;
        }
        .footer-mobile-copyright {
            display: block !important;
            text-align: center;
            width: 100%;
            color: $color-white;
        }
        .list-social-logos {
            text-align: center;
            width: 50%;
            display: inline-block;
            margin-left: 0 !important;
            margin-bottom: 15px;
            li {
                width: 33%;
            }
        }
    }
}

.footer-info-col--social {
    width: 100%;
}

.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
        width: 50%;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
        width: 100%;
    }
}


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: $footer-heading-fontColor;
    font-size: fontSize("base");
    text-transform: inherit;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;
    padding-top: (spacing("base"));

    a {
        color: $color-white;
        text-decoration: none;
        font-size: 13px;
        margin-bottom: 8px;
        display: block;

        &:hover {
            color: stencilColor("color-bbgray");
        }
    }
}

.footer-copyright {
    text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }

    > .powered-by {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        margin: 0;
    }

    > .paypal-credit {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        margin: 1em 0 2em;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-newsletter-summary {
    text-align: left;
}

.footer-social-block {
    float: right;
    .list-logos {
        li {
            display: block;
            float: left;
            position: relative;
        }
        img {
            width: 50px;
            height: 50px;
        }
    }
    @media (max-width: 800px) {
        position: absolute;
        bottom: 10px;
        left: 0;
    }
}

.footer {
    @media (max-width: 800px) {
        .container {
            height: 100%;
        }
    }
}
